﻿@model ResearchViewModel
@{
    ViewData["Title"] = "Research";
}

<div class="text-center">
    <h1 class="display-4 m-3">Retrieve Plant or Climate Data</h1>

    <div class="mb-3">
        <label for="plant-radio-btn">Filter Plants</label>
        <input class="m-3" id="plant-radio-btn" type="radio" name="filter" value="plant" />
        <label for="climate-radio-btn">Filter Climate</label>
        <input class="m-3" id="climate-radio-btn" type="radio" name="filter" value="climate" checked/>
    </div>

    <div class="row">

        <div id="plant-filter" class="col-sm" style="display:none">
            <form asp-action="GetPlantData" method="post" >
                <div class="m-3">
                    <label for="hardiness-zone">Location</label>
                    <input class="form-control mb-3" type="text" placeholder="Location" />
                    <label for="hardiness-zone">Hardiness Zone</label>
                    <input class="form-control mb-3" id="hardiness-zone" type="text" placeholder="Hardiness Zone" />
                    <label for="sun-slider">Sun</label>
                    <input class="form-control mb-3" type="text" id="sun-slider" readonly style="border:0; color:#f6931f; font-weight:bold;">
                    <div class="mb-3" id="slider-range-max"></div>
                    <button class="form-control mb-3" type="submit">Get Plant Data</button>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </form>
        </div>

        <div id="climate-filter" class="col-sm" >
            <form asp-action="GetClimateData" method="post">
                <div class="m-3">

                    <label for="location">Location</label>
                    <input asp-for="Location" id="location" class="form-control mb-3" type="text" placeholder="Location" />

                    <label for="year-range">Year Range</label>
                    <span id="year-range" class="d-inline">
                        <input asp-for="StartYear" class="d-inline form-control mb-3" id="year-range-from" type="text" placeholder="from" />
                        <input asp-for="EndYear" class="d-inline form-control mb-3" id="year-range-to" type="text" placeholder="to" />
                    </span>

                    <label for="days-below-freezing">Number of days below freezing</label>
                    <input id="days-below-freezing" class="form-control mb-3" type="text" placeholder="Days freezing" />

                    <button class="form-control mb-3" type="submit">Get Climate Data</button>

                    <div asp-validation-summary="All" class="text-danger"></div>

                </div>
            </form>
        </div>



        <div class="col-sm text-left">
            <div class="bg-dark rounded shadow-sm p-3">
                <pre  class="text-white">
@Model.DataJson
                </pre>
            </div>
        </div>
    </div>
</div>

<script>
    // Slider
    $("#slider-range-max").slider({
        range: "max",
        min: 1,
        max: 13,
        value: 2,
        slide: function (event, ui) {
            $("#sun-slider").val(ui.value);
        }
    });
    $("#sun-slider").val($("#slider-range-max").slider("value"));

    // Toggle Plants or Climate data
    $(function () {
        $("input[name='filter']").change(function () {
            $('#plant-filter').toggle();
            $('#climate-filter').toggle();
        });
    });

</script>