﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<Vendor> SignInManager
@inject UserManager<Vendor> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Cabinet" asp-action="Index" title="My Cabinet">My Cabinet</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Vendors" asp-action="Exit" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Exit</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Vendors" asp-action="Enter">Enter Vendor's Cabinet</a>
        </li>
    }
</ul>
