﻿@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Welcome to WhatCanIGrow!</h1>


    @*<form class="form-group" method="post">
        <input class="form-control" id="location" placeholder="Adderss, Postal Code, etc...">
        <a asp-action="FindPlants" type="submit" class="btn btn-primary my-3">Find Plants</a>
    </form>*@
    <div>
        <p>
            Note for professor* Since for now the plant data is seeded into the db we have a limited number of plants, searching by major city works 
            but if its not obvious we have added 2 fake cities with min and max zones called "Low" and "High" to confirm functinoality for you.
        </p>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">

                <form asp-controller="Plants" asp-action="GetPlantData" method="post">

                    <input asp-for="HardinessZone" id="location" class="form-control mb-3" type="text" placeholder="Enter Zone" />


                    <button class="form-control mb-3" type="submit">Find plants by hardiness Zone</button>

                </form>

                <form asp-controller="Plants" asp-action="GetPlantDataByCity" method="post">

                    <input asp-for="CityName" id="location" class="form-control mb-3" type="text" placeholder="Enter City" />


                    <button class="form-control mb-3" type="submit">Find plants and zone by City Name </button>

                </form>

                @*@foreach (var item in Model.AreaList)
        {
            @if (item.AreaId.Equals(Model.AreaList.First().AreaId))
            {
                <form asp-controller="Plants" asp-action="GetPlantData" method="post">

                    <input asp-for="HardinessZone" id="location" class="form-control mb-3" type="text" placeholder="Location" />


                    <button class="form-control mb-3" type="submit">Find plants by hardiness Zone</button>

                </form>
            }
            else
            {
                <a class="list-group-item list-group-item-action"
                   id="@item.AreaId" data-toggle="list"
                   role="tab" aria-controls="@item.Name"
                   href="#@item.Name">@item.Name</a>
            }
        }*@
            </div>
        </div>
        <div class="col-8">
            @*<div class="tab-content" id="nav-tabContent">

                @foreach (var item in Model.AreaList)
                {
                    @if (item.AreaId.Equals(Model.AreaList.First().AreaId))
                    {
                        <div class="tab-pane fade show active" id="@item.Name" role="tabpanel" aria-labelledby="@item.AreaId">Toronto</div>

                    }
                    else
                    {
                        <div class="tab-pane fade" id="@item.Name" role="tabpanel" aria-labelledby="list-Montreal-list">@item.Name</div>
                    }

                }*@
                @*<div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">1234</div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">434343</div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">555</div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">342342</div>*@
            @*</div>*@

            <div class="col-sm text-left">
                <div class="bg-dark rounded shadow-sm p-3">
                    <pre class="text-white">
                    @if (Model.Plants != null) {
                         @foreach (var plant in Model.Plants)
                        {
                            @if (plant.PlantId.Equals(Model.Plants.First().PlantId))
                            {
                            <div class="text-white" id="@plant.Name" role="tabpanel" aria-labelledby="@plant.PlantId">@plant.Name</div>

                            }
                            else
                            {
                            <div class="text-white" id="@plant.Name" role="tabpanel" aria-labelledby="list-Montreal-list">@plant.Name</div>
                            }

                        }
                    }
                </pre>
                </div>
            </div>

        </div>
    </div>

</div>

<script>


        $("#slider-range-max").slider({
                        range: "max",
            min: 1,
            max: 13,
            value: 2,
            slide: function (event, ui) {
                $("#zonedisplay").val(ui.value);
                    }
                    });
    $("#zonedisplay").val($("#slider-range-max").slider("value"));

</script>
