﻿@model ICollection<Seed>
@{
    ViewData["Title"] = "My Cabinet";
}

<div class="text-center">
    <h1 class="display-4 mb-5">My Seeds</h1>

    <div class="d-flex justify-content-end">
        <a asp-action="AddSeed" class="btn btn-link">Add a new kind of seeds</a>
    </div>
    @if (Model.Count > 0)
    {
        <div class="list-group seeds-list">
            @foreach (var seed in Model)
            {
                <div class="list-group-item list-group-item-action d-flex flex-row align-items-center justify-content-between">
                    <div class="d-flex flex-column justify-content-between align-items-start">
                        <div class="d-flex flex-column align-items-start">
                            <h5 class="mb-1">@seed.Name</h5>
                            <p>@seed.Plant.Name</p>
                        </div>
                        <p class="mb-1"><b>Price per KG: @seed.FormattedPricePerKG</b></p>
                    </div>
                    <div>
                        @if (seed.IsVisible)
                        {
                            <button class="btn btn-secondary" data-unpublish data-seed="@seed.SeedId">Unpublish</button>
                        }
                        else
                        {
                            <button class="btn btn-primary" data-publish data-seed="@seed.SeedId">Publish</button>
                        }
                        <button class="btn btn-danger" data-delete="@(seed.IsVisible ? "0" : "1")" data-seed="@seed.SeedId">Delete</button>
                        <a asp-action="EditSeed" asp-route-id="@seed.SeedId" class="btn btn-warning">Edit</a>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h5 class="empty-label">You currently have no seeds registered</h5>
    }
</div>

<div id="deleteDialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Would you like to simply unpublish the seeds instead?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="unpublishButton">Unpublish</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="deleteButton">Delete</button>
            </div>
        </div>
    </div>
</div>

@* Hidden forms for performing various actions *@

<form asp-controller="Cabinet" asp-action="DeleteSeed" method="post" id="deleteForm">
    <input type="hidden" name="seedId" />
</form>

<form asp-controller="Cabinet" asp-action="UnpublishSeed" method="post" id="unpublishForm">
    <input type="hidden" name="seedId" />
</form>

<form asp-controller="Cabinet" asp-action="PublishSeed" method="post" id="publishForm">
    <input type="hidden" name="seedId" />
</form>

@section Scripts {
    <script src="~/js/seeds-list.js" asp-append-version="true"></script>
}
