﻿@model WCIG6.ViewModels.Cabinet.SeedViewModel
@{
    ViewData["Title"] = ViewBag.IsNew ? "Create a new kind of seeds" : "Edit the selected kind of seeds";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Enter seeds details</h1>
</div>

<form method="post">
    <div class="form-group">
        <input asp-for="SeedName" class="form-control" placeholder="Name of the seeds">
    </div>
    <div class="form-group">
        <select asp-for="PlantId" class="form-control">
            <option disabled selected value="0">--Select Plant--</option>
            @foreach (Plant plant in ViewBag.Plants)
            {
                <option value="@plant.PlantId">@plant.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">$/KG</span>
            </div>
            <input asp-for="Price" type="number" class="form-control" placeholder="Price of seeds per KG" step="0.01" />
        </div>
    </div>
    <div class="form-group">
        <select asp-for="HardinessZone" class="form-control">
            @for (int i = -1; i <= 13; i++)
            {
                <option value="@i">@(i == -1 ? "--Hardiness Zone--" : $"Zone {i}")</option>
            }
        </select>
        <small class="form-text text-muted">Plant's default hardiness-zones are going to be used otherwise.</small>
    </div>
    <div class="form-group">
        <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
    </div>
    <input type="hidden" asp-for="IsPublished" id="isPublishedInput" />
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" id="registerButton">@(ViewBag.IsNew ? "Register" : "Save")</button>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>

<div id="publishDialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Notice</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Would you like to have the seed published right away?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="publishButton">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="saveButton">No</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        var isNew = @(ViewBag.IsNew ? "true" : "false");
    </script>
    <script src="~/js/seeds-form.js" asp-append-version="true"></script>
}