﻿@{
    ViewData["Title"] = "Plants";
}

<div class="text-center">

    <h1 class="display-4 m-3">Plants You Can Grow</h1>

    <div class="row">
        <div class="col-sm">
            <div class="m-3">
                <input class="form-control mb-3" type="text" placeholder="Update Location" />

                <label for="hardiness-zone">Hardiness Zone</label>
                <input class="form-control mb-3" id="hardiness-zone" type="text" placeholder="Update Hardiness Zone" />


                <label for="sun-slider">Sun</label>
                <input class="form-control mb-3" type="text" id="sun-slider" readonly style="border:0; color:#f6931f; font-weight:bold;">
                <div id="slider-range-max"></div>
            </div>


            <script>
                $("#slider-range-max").slider({
                    range: "max",
                    min: 1,
                    max: 13,
                    value: 2,
                    slide: function (event, ui) {
                        $("#sun-slider").val(ui.value);
                    }
                });
                $("#sun-slider").val($("#slider-range-max").slider("value"));

            </script>

        </div>

        <div class="col-sm">

            <ul class="list-group m-3">
                <a asp-action="PlantDetails" ><li class="list-group-item">Blood Lilly</li>
                                              <li class="list-group-item">Blood Lilly</li>
                                              <li class="list-group-item">Blood Lilly</li>
                                              <li class="list-group-item">Blood Lilly </li>
                                              <li class="list-group-item">Blood Lilly</li>
                </a>
            </ul>

        </div>
    </div>
</div>

