﻿@{
    ViewData["Title"] = "Plant Details";
}

<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 46%;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>

<div class="container">
    <div><h1>Blood Lilly</h1></div>
    <div class="row">
        <div class="col-4">
            <img src="http://cdn.shopify.com/s/files/1/1419/7120/products/Multiflora_429430342.SHUT.jpg?v=1571439587" class="rounded-circle mx-auto my-3 d-block" width="200" alt="Blood Lilly">
        </div>
        <div class="col-7">
            <h2>Summary:</h2>
            <p>
                Haemanthus coccineus, the blood flower, blood lily or paintbrush lily, is a species of flowering plant in the amaryllis family Amaryllidaceae, native to Southern Africa. Growing to 35 cm (14 in) tall and wide, it is a bulbous perennial with short brown stems surmounted by red flowers, the flowers appearing in spring and summer, before the strap-shaped leaves.[2]
                The generic name Haemanthus is derived from the Greek words haima for blood and anthos for flower; coccineus is the Latin word for red or scarlet. In the Afrikaans language it is known as bergajuin, bloedblom, and many other vernacular names.[3]
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="gallery">
                <a target="_blank" href="https://www.michiganbulb.com/images/250/67730.jpg">
                    <img src="https://www.michiganbulb.com/images/250/67730.jpg"  width="100%" alt="Blood Lilly">
                </a>
                <div class="desc">Add a description of the image here</div>
            </div>

            <div class="gallery">
                <a target="_blank" href="https://images-na.ssl-images-amazon.com/images/I/81%2BfGNGQ8lL._AC_SX679_.jpg">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/81%2BfGNGQ8lL._AC_SX679_.jpg" width="100%" alt="Blood Lilly">
                </a>
                <div class="desc">Add a description of the image here</div>
            </div>

            <div class="gallery">
                <a target="_blank" href="https://pics.davesgarden.com/pics/2007/02/11/imogen15/dae5f9.jpg">
                    <img src="https://pics.davesgarden.com/pics/2007/02/11/imogen15/dae5f9.jpg" width="100%" alt="Blood Lilly">
                </a>
                <div class="desc">Add a description of the image here</div>
            </div>

        </div>
        <div class="col-7">
            <h2>Garaden Sheet:</h2>
            <p><b>Days to harvest:</b> 65</p>
            <p><b>Light level:</b>Shade</p>
            <p><b>Hardiness zones:</b> 6</p>
            <p><b>Start dates estimates:</b> September 5th at zone 6</p>
            <p><b>Harvest dates estimates:</b> Not to be harvested</p>
            <p><b>Special Notes:</b> They are actually sensative to exessive sunlight and prefer shade</p>
            <p><b>Warning:</b> Dont eat! They dont taste as good as they look!</p>
            @*- Days to harvest
        -Shade level
        -Hardiness zones
        - Start dates estimates
        -Harvest dates estimates
        - Special Notes
        - Warning*@
        </div>
    </div>
</div>
