﻿@model SeedSearchViewModel
@{
    ViewData["Title"] = "Seed Search";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Seeds Search</h1>

    <form class="d-flex search-form" method="post">
        <input asp-for="PlantName" type="email" class="form-control" placeholder="Plant's Name">
        <button type="submit" class="btn btn-success">Search</button>
    </form>

    <div class="list-group seeds-list mb-3">
        <div class="list-group-item list-group-item-action d-flex flex-row align-items-center justify-content-between">
            <div>
                <h5 class="mb-1">Kind of Seeds 1</h5>
                <p class="mb-1"><b>Price per KG: 20$</b></p>
            </div>
            <button class="btn btn-link" data-toggle="modal" data-target="#vendorDialog">View Vendor</button>
        </div>
        <div class="list-group-item list-group-item-action d-flex flex-row align-items-center justify-content-between">
            <div>
                <h5 class="mb-1">Kind of Seeds 2</h5>
                <p class="mb-1"><b>Price per KG: 30$</b></p>
            </div>
            <button class="btn btn-link" data-toggle="modal" data-target="#vendorDialog">View Vendor</button>
        </div>
        <div class="list-group-item list-group-item-action d-flex flex-row align-items-center justify-content-between">
            <div>
                <h5 class="mb-1">Kind of Seeds 3</h5>
                <p class="mb-1"><b>Price per KG: 40$</b></p>
            </div>
            <button class="btn btn-link" data-toggle="modal" data-target="#vendorDialog">View Vendor</button>
        </div>
    </div>

    <button class="btn btn-primary">Load More</button>
</div>


<div id="vendorDialog" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vendor Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>Vendor's Full Name (First and Last)</b></p>
                <p>Phone Number: Vendor's Phone</p>
                <p>Email Address: Vendor's Email</p>
                <p>Website: <a href="#">Link to the website</a></p>
            </div>
        </div>
    </div>
</div>